.footerlast {
    background: var(--black);
}

#footer_last_para {
    color: var(--surface);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;

}